---
layout: base.njk
---

<div class="container">
  <article class="post-single post-type-{{ type }}">

    {% if title %}
      <h1 class="post-title">{{ title }}</h1>
    {% endif %}

    <div class="post-meta">
      <time datetime="{{ page.date | dateISO }}">{{ page.date | dateReadable }}</time>
      <a href="/sobre" class="post-author">{{ site.author }}</a>
    </div>

    <div class="post-content">
      {{ content | safe }}
    </div>

  </article>
</div>
