---
layout: base.njk
title: Sobre
---

<div class="container">
  <article class="post-single">
    <h1 class="post-title">sobre</h1>
    <div class="post-content">
      <h2>Você aterrisou no bloco de notas de EduF</h2>
      <img src="eduf_de_frente_2025.jpeg" alt="Eduardo Fernandes">
    <p>Olá, Meu nome é Eduardo Fernandes. Nasci em 1975 em São Paulo, SP. Sou sociólogo e, desde 1996, desenvolvo experiências digitais.</p>
<p>Escrevo roteiros de podcasts para marcas como Telefónica, Wondery, Americanas S.A., Accenture, Pearson, entre outras.</p>
<p>Também trabalho com educação à distância, cohort learning e fomentação de comunidades.</p>
<p>Em geral, atuo na área de autoconhecimento. Apoio instituições budistas como Tergar, Kangyur Foundation, Ranjung Yeshe Gomde e Chagdud Gonpa.</p>
<p>Em paralelo, escrevo a newsletter <a href="https://textosobretela.com/">Texto Sobre Tela</a>, o podcast <a href="https://creators.spotify.com/pod/profile/monoestereo/">MonoEstéreo</a> e publico vídeos ocasionalmente no <a href="https://www.youtube.com/@edufme">YouTube</a>.</p>
<p>No passado, fui editor dos sites da <em>Superinteressante</em> e da <em>Revista Trip</em>.</p>
<h2 id="principais-habilidades-técnicas">Principais habilidades técnicas</h2>
<ul>
<li>font-end design e programação</li>
<li>edição e produção de áudio e vídeo</li>
<li>design de livros e marketing editorial</li>
<li>edição e criação de roteiros e textos jornalísticos</li>
<li>adestramento de WordPress e criação de temas</li>
<li>educação à distância via Zoom</li>
</ul>
<h2 id="motivação">Motivação</h2>
<p>Contribuir para manter um ambiente cultural saudável, divertido e livre de extremismos.</p>
<h2 id="redes-sociais">Redes sociais</h2>
<p>Não sinto que gerenciar <em>social media</em> me traga prazer ou valor, portanto minhas atividades nelas são muito esporádicas. Não tenho Instagram ou X.</p>
    </div>
  </article>
</div>